body{
    background-color:rgb(242, 247, 249);
    font-family: Arial, sans-serif;
}
.bangmenu{
    display:flex;
    flex-direction: column;
    background-color:white;
    position:fixed;
    top:0;
    left:0;
    width:220px;
    height:100%;
    z-index:10;
    padding:10px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
.bangmenu.hien{
    transform: translateX(0%);
}
.bangmenu .tenshop{
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
    margin-top:15px;
    margin-left:30px;
    font-size:30px;
    color: rgb(136, 185, 241);
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:25px;
    font-weight: bold;
}
.bangmenu .chumenu{
    margin-top:40px;
    margin-left:10px;
    font-weight:bold;
    font-size:14px;
    color:rgb(122, 122, 122);
}
.bangmenu .chucnang{
    display:flex;
    flex-direction: column;
    gap:10px;
    margin-top:20px;
}
.bangmenu .chucnang div{
    display:flex;
    align-items: center;
    padding:10px;
    transition: background-color 0.2s ease;
}
.bangmenu .chucnang div:hover {
    background-color: rgb(235, 235, 237);
    border-radius: 5px;
    cursor: pointer;
}
.bangmenu .chucnang div i{
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:14px;
    font-weight:bold;
    width:20px;
    margin-left:5px;
}
.bangmenu .chucnang div span{
    margin-left:10px;
    font-size:14px;
    font-weight:bold;
    color:rgb(84, 84, 84);
}
.ngoaibangmenu{
    position:fixed;
    inset:0;
    z-index:9;
    width:100%;
    height:100%;
    z-index:9;
    display:none;
}
.tieude{
    position:fixed;
    width:1200px;
    height:50px;
    top:0;
    left:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 247, 249);
    font-size: 20px;
    padding: 10px;
    z-index:8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.tenshop-iconlist{
    display:flex;
    align-items: center;
    font-size:25px;
    font-weight: bold;
    gap:10px;
    margin-left:30px;
}
.tenshop-iconlist span{
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tenshop-iconlist i {
    font-size:30px;
    padding: 8px;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.25s ease;
}
.tenshop-iconlist i:hover {
    box-shadow: 0 0 0 2px rgb(218, 218, 220);
}
.conlaitieude{
    display:flex;
    align-items: center;
    gap: 15px;
}
.ten-sodu{
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
    display:flex;
    flex-direction: column;
    font-size: 15px;
    font-weight:bold; 
    gap:6px;
}
.sodu{
    color:red;
}
.conlaitieude i{
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
    font-size:30px;
    padding: 8px;
    border-radius: 6px;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.25s ease;
}
.conlaitieude i:hover {
    box-shadow: 0 0 0 2px rgb(218, 218, 220);
}
.iconcanhan{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    font-size:20px;
    background-color:white;
    padding:15px;
    position:fixed;
    left:80%;
    width:150px;
    top:60px;
    border-radius:5px;
    z-index:10;
    transform: translateY(-160%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition:all 0.3s ease;
}
.iconcanhan.hien{
    transition:all 0.3s ease;
    transform: translateY(0%);
}
.iconcanhan div{
    display:flex;
    align-items: center;
    width:100%;
    transition: background-color 0.2s ease;
    padding: 7px;
}
.iconcanhan div:hover {
    background-color: rgb(235, 235, 237);
    border-radius: 5px;
    cursor: pointer;
}
.iconcanhan div i{
    margin-left:10px;
    width:30px;
    font-size:13px;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.iconcanhan div span{
    font-size:13px;
    font-weight:bold;
    margin-left:5px;
    color:rgb(84, 84, 84)
}
/*-------------------------------------------------------------------------------------------------
 Xong phần tiêu đề */
.thongtinchuacc{
    display:flex;
    gap:10px;
    margin-top:100px;
    flex-direction:column;
    align-items: center;
    background-color:white;
    padding:20px;
    border-radius:20px;
    width:880px;
    height:150px;
    margin-left:150px;
    border:1px solid rgb(216, 216, 216);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    font-weight:bold;
}
.thongtinchuacc .dong1{
    font-size:20px;
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
}
.thongtinchuacc .dong2{
    font-size:15px;
    opacity:0.3;
    gap:20px;
    display:flex;
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
}
.thongtinchuacc .dong3 .tenmuc{
    font-size:20px;
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
}
.thongtinchuacc .dong3 .giatri{
    color:red;
    font-size:25px;
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
}
.thongtinchuacc .dong4{
    display:flex;
    gap:30px;
    align-items:center;
    justify-content: center;
}
.thongtinchuacc .dong4 .nutthemgio{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    color:white;
    padding:15px;
    border-radius:10px;
    font-size:20px;
    width:300px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    border:none;
    background: linear-gradient(135deg, #ff7a00, #ffb347, #ff3c00);
    transition: all 0.3s ease;
}
.thongtinchuacc .dong4 .nutmua{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    margin:auto;
    color:white;
    padding:15px;
    border-radius:10px;
    font-size:20px;
    width:300px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    border: none;
    background: linear-gradient(135deg, #00c6ff, #0072ff, #00e0ff);
    transition: all 0.3s ease;
}
.thongtinchuacc .dong4 div:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}
/*-------------------------------------------------------------------------------------------------
 Xong phần thông tin chữ acc */
.anhchitiet{
    display:flex;
    flex-direction: column;
    gap:25px;
    align-items:center;
    justify-content:center;
    margin:20px auto;
    margin-left:150px;
    width:900px;
    border-radius:20px;
    border: solid 1px rgb(216, 216, 216);
    padding:10px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
}
.anhchitiet img{
    width:99%;
    border-radius:10px;
}
.popuptkmk{
    position:fixed;
    z-index:10;
    display: none;
    border-radius: 5px;
    flex-direction: column;
    background-color:white;
    align-items: center;
    justify-content:center;
    top:30%;
    width:300px;
    height:150px;
    font-size: 16px;
    gap:15px;
    left: 38.5%;
}
.popuptkmk span{
    border: solid 1px rgb(156, 154, 154);
    border-radius: 5px;
    padding: 7px;
    width:80%
}
/*-------------------------------------------------------------------------------------------------
 Xong phần ảnh chi tiết acc */
.chantrang{
    margin-top: 50px;
    height:80px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    align-items:center;
    font-size:15px;
    font-weight: bold;
    color:white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    background: linear-gradient(135deg, #0a1f46, #1a2a6c, #000000);
}