body{
    background-color:rgb(242, 247, 249);
    font-family: Arial, sans-serif;
}
.bangmenu{
    display:flex;
    flex-direction: column;
    background-color:white;
    position:fixed;
    top:0;
    left:0;
    width:220px;
    height:100%;
    z-index:10;
    padding:10px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
.bangmenu.hien{
    transform: translateX(0%);
}
.bangmenu .tenshop{
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
    margin-top:15px;
    margin-left:30px;
    font-size:30px;
    color: rgb(136, 185, 241);
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:25px;
    font-weight: bold;
}
.bangmenu .chumenu{
    margin-top:40px;
    margin-left:10px;
    font-weight:bold;
    font-size:14px;
    color:rgb(122, 122, 122);
}
.bangmenu .chucnang{
    display:flex;
    flex-direction: column;
    gap:10px;
    margin-top:20px;
}
.bangmenu .chucnang div{
    display:flex;
    align-items: center;
    padding:10px;
    transition: background-color 0.2s ease;
}
.bangmenu .chucnang div:hover {
    background-color: rgb(235, 235, 237);
    border-radius: 5px;
    cursor: pointer;
}
.bangmenu .chucnang div i{
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:14px;
    font-weight:bold;
    width:20px;
    margin-left:5px;
}
.bangmenu .chucnang div span{
    margin-left:10px;
    font-size:14px;
    font-weight:bold;
    color:rgb(84, 84, 84);
}
.ngoaibangmenu{
    position:fixed;
    inset:0;
    z-index:9;
    width:100%;
    height:100%;
    z-index:9;
    display:none;
}
.tieude{
    position:fixed;
    width:1200px;
    height:50px;
    top:0;
    left:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 247, 249);
    font-size: 20px;
    padding: 10px;
    z-index:8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.tenshop-iconlist{
    display:flex;
    align-items: center;
    font-size:25px;
    font-weight: bold;
    gap:10px;
    margin-left:30px;
}
.tenshop-iconlist span{
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tenshop-iconlist i {
    font-size:30px;
    padding: 8px;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.25s ease;
}
.tenshop-iconlist i:hover {
    box-shadow: 0 0 0 2px rgb(218, 218, 220);
}
.conlaitieude{
    display:flex;
    align-items: center;
    gap: 15px;
}
.iconvip{
    display:flex;
    gap:5px;
    align-items:center;
    justify-content:center;
    padding:10px;
    border-radius:5px;
    color:white;
    font-weight:bold;
    font-size:13px;
    background: linear-gradient(90deg, #FFE259, #FFA751, #FF5F6D, #D7263D);
}
.ten-sodu{
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
    display:flex;
    flex-direction: column;
    font-size: 15px;
    font-weight:bold; 
    gap:6px;
}
.sodu{
    color:red;
}
.conlaitieude i{
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
    font-size:30px;
    padding: 8px;
    border-radius: 6px;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.25s ease;
}
.conlaitieude i:hover {
    box-shadow: 0 0 0 2px rgb(218, 218, 220);
}
.iconcanhan{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    font-size:20px;
    background-color:white;
    padding:15px;
    position:fixed;
    left:80%;
    width:150px;
    top:60px;
    border-radius:5px;
    z-index:10;
    transform: translateY(-160%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition:all 0.3s ease;
}
.iconcanhan.hien{
    transition:all 0.3s ease;
    transform: translateY(0%);
}
.iconcanhan div{
    display:flex;
    align-items: center;
    width:100%;
    transition: background-color 0.2s ease;
    padding: 7px;
}
.iconcanhan div:hover {
    background-color: rgb(235, 235, 237);
    border-radius: 5px;
    cursor: pointer;
}
.iconcanhan div i{
    margin-left:10px;
    width:30px;
    font-size:13px;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.iconcanhan div span{
    font-size:13px;
    font-weight:bold;
    margin-left:5px;
    color:rgb(84, 84, 84)
}
/*-------------------------------------------------------------------------------------------------
 Xong phần tiêu đề */
.divto2{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    margin-top:100px;
    font-size:22px;
    padding-left:40px;
    padding-right:35px;
}
.divto2 .bentrai{
    display:flex;
    align-items:center;
    gap:20px;
}
.divto2 .bentrai > div{
    display:flex;
    align-items:center;
    gap:10px;
    border: 1px solid rgb(216, 216, 216);
    padding: 15px;
    border-radius: 10px;
    background-color:white;
    width:250px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    height:50px;
}
.divto2 .bentrai > div:hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.divto2 .bentrai .soluong{
    border-left: 5px solid rgb(63, 63, 63);
}
.divto2 .bentrai .accgiacaonhat{
    border-left: 5px solid rgb(17, 241, 99);
}
.divto2 .bentrai .sotiendatieu{
    border-left: 5px solid rgb(235, 167, 66);
}
.divto2 .bentrai > div > div{
    display:flex;
    flex-direction:column;
    gap:5px;
}
.divto2 .bentrai > div .fa-solid.fa-user-pen{
    padding: 10px;
    border-radius: 8px;
    background-color:rgb(226, 224, 224);
    font-size:15px;
}
.divto2 .bentrai > div .fa-solid.fa-ranking-star{
    padding: 10px;
    border-radius: 8px;
    background-color:rgb(221, 246, 227);
    color: green;
    font-size:15px;
}
.divto2 .bentrai > div .fa-solid.fa-money-bill{
    padding: 10px;
    border-radius: 8px;
    background-color:rgb(249, 240, 220);
    color:orange;
    font-size:15px;
}
.divto2 .bentrai > div > div .tenmuc{
    font-size:11px;
    font-weight:bold;
    opacity:0.4;
}
.divto2 .bentrai > div > div .giatri{
    font-size:19px;
    font-weight:bold;
    opacity:0.9;
}
.divto2 .thanhtimkiem input{
    outline:none;
    font-size:15px;
    padding:4px;
    border-radius:5px;
    border:1px solid rgb(218, 218, 221);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.divto2 .thanhtimkiem input::placeholder {
    font-weight:bold;
    font-size: 12px;
    opacity:0.6;
}
.divto2 .thanhtimkiem input:hover {
    box-shadow: 0 0 0 2px rgba(0, 198, 255, 0.6),
                0 4px 12px rgba(0, 0, 0, 0.2);
}
/*-------------------------------------------------------------------------------------------------
 Xong phần div lớn 2 */
/* ===== BẢNG CHA ===== */
.bang {
    position: relative;
    border-radius: 8px;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92%;
    margin-left: 40px;
    border: 1px solid rgb(237, 235, 235);
    gap: 10px;
    min-height: 300px;
}

.bang > span {
    position: absolute;
    left: 30px;
    font-weight: bold;
    opacity: 0.8;
    font-size: 18px;
}

.bang > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 40px;
}

.bang > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    border: 1px solid rgb(215, 212, 212);
}

.bang > div > input {
    border: 1px solid rgb(215, 212, 212);
    border-radius: 5px;
    padding: 8px;
    width: 200px;
}

/* ===== TABLE ===== */
.bang-giaodich {
    width: 90%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;

    table-layout: fixed;
    min-width: 1000px;

    background: white;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom:50px;
}

/* ===== FIX HEIGHT ROW (QUAN TRỌNG) ===== */
.bang-giaodich tbody tr {
    height: 36px;
    transition: 0.2s;
}

/* ===== HEADER ===== */
.bang-giaodich thead {
    background-color: #f3f4f6;
}

.bang-giaodich th {
    text-align: left;
    padding: 10px;
    color: #555;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
}

/* ===== CELL CHUNG ===== */
.bang-giaodich th,
.bang-giaodich td {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/* ===== FIX CELL HEIGHT (QUAN TRỌNG) ===== */
.bang-giaodich td {
    height: 36px;
    padding: 0 10px;        /* ❌ bỏ padding dọc */
    line-height: 36px;      /* 🔥 giữ row cố định */
    font-size: 13px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ===== WIDTH CỘT ===== */
.bang-giaodich th:nth-child(1),
.bang-giaodich td:nth-child(1) {
    width: 20px;
    text-align: center;
}

.bang-giaodich th:nth-child(2),
.bang-giaodich td:nth-child(2) { width: 150px; }

.bang-giaodich th:nth-child(3),
.bang-giaodich td:nth-child(3) { width: 100px; }

.bang-giaodich th:nth-child(4),
.bang-giaodich td:nth-child(4) { width: 100px; }

.bang-giaodich th:nth-child(5),
.bang-giaodich td:nth-child(5) { width: 100px; }

.bang-giaodich th:nth-child(6),
.bang-giaodich td:nth-child(6) { width: 250px; }

.bang-giaodich th:nth-child(7),
.bang-giaodich td:nth-child(7) { width: 100px; }

.bang-giaodich th:nth-child(8),
.bang-giaodich td:nth-child(8) {
    width: 100px;
    text-align: center;
}
.cell-scroll {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

/* đẹp scrollbar */
.cell-scroll::-webkit-scrollbar {
    height: 4px;
}

.cell-scroll::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}
/* ===== HIỆU ỨNG ===== */
.bang-giaodich tbody tr:hover {
    background-color: #f9fafb;
}

/* ===== MÀU ===== */
.ma {
    color: #4f46e5;
    font-weight: 600;
    cursor: pointer;
}

.am {
    color: #dc2626;
    font-weight: bold;
}

.duong {
    color: #16a34a;
    font-weight: bold;
}

/* ===== NỘI DUNG ===== */
.noidung {
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*-------------------------------------------------------------------------------------------------
 Xong phần danh sách acc trong giỏ hàng */
.phantrang{
    position:absolute;
    bottom:20px;
}
/*-------------------------------------------------------------------------------------------------
 Xong phần trang*/
.chantrang{
    margin-top:30px;
    height:80px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    align-items:center;
    font-size:15px;
    font-weight: bold;
    color:white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    background: linear-gradient(135deg, #0a1f46, #1a2a6c, #000000);
}