<!DOCTYPE html>
<html lang="vi">
    <head>
        <title>webaccgame</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/chitietacc.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <script src="{{url_for('static',filename='js/chitietacc.js')}}" defer></script>
        <script src="{{url_for('static',filename='js/dangxuat.js')}}" defer></script>
        <script src="{{url_for('static',filename='js/muaacc.js')}}" defer></script>
        <script src="{{url_for('static',filename='js/themgiohang.js')}}" defer></script>
    </head>
    <body>
        <div class="bangmenu">
            <span class="tenshop">Shop Huy2k5</span>
            <span class="chumenu">menu</span>
            <hr>
            <span class="lichsumuaacc">Lịch sử mua acc</span>
            <hr>
            <span class="naptien">Nạp tiền</span>
            <hr>
            <span class="giohang">Giỏ hàng của bạn</span>
        </div>
        <div class="ngoaibangmenu"></div>
        <div class="tieude">
            <div class="tenshop-iconlist">
                <span class="tenshop">SHOP HUY2K5</span>
                <i class="fa-solid fa-list"></i>
            </div>
            <div class="conlaitieude">
                <i class="fa-solid fa-user"></i>
                <div class="ten-sodu">
                    <span class="ten">{{nguoimua.ten}}</span>
                    <span class="sodu">{{"{:,.0f}".format(nguoimua.so_du)}}đ</span>
                </div>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </div>
        </div>
        <div class="iconcanhan">
            <span class="dangnhap">Đăng nhập</span>
            <hr>
            <span class="taotaikhoan">Tạo tài khoản</span>
            <hr>
            <span class="doimatkhau">Đổi mật khẩu</span>
        </div>
        <!--Xong phần tiêu đề ------------------------------------------------------------------------------->
        <div class="thongtinchuacc">
            <span class="dong1">Mã số: {{"%03d"|format(acc.ma_acc)}}: {{acc.mo_ta}}</span>
            <span class="dong2">
                <span>{{acc.ngay_dang}}</span>
                <span>
                    <i class="fa-solid fa-eye"></i>
                    {{acc.so_luot_xem}}
                </span>
            </span>
            <span class="dong3">Giá bán: {{"{:,.0f}".format(acc.gia)}}đ</span>
            <div class="dong4">
                <div class="nutthemgio" data-maacc = "{{acc.ma_acc}}" data-manguoimua = "{{nguoimua.ma_nguoi_mua}}">Thêm vào giỏ hàng</div>
                <div class="nutmua" data-maacc = "{{acc.ma_acc}}" data-manguoimua = "{{nguoimua.ma_nguoi_mua}}">Mua ngay</div>
            </div>
        </div>
        <!--Xong phần thông tin chữ acc ------------------------------------------------------------------------------->
        <div class="anhchitiet">
            {% for anh in dsanh %}
            <img src="{{anh.duong_dan}}">
            {%endfor%}
        </div> 
        <div class = "popuptkmk">
            <span class="tk">Tài khoản: {{acc.tai_khoan}}</span>
            <span class="mk">Mật khẩu: {{acc.mat_khau}}</span>
        </div>  
        <!--Xong phần ảnh chi tiết acc ----------------------------------------------------------------------------------> 
        <div class="chantrang">
            <span>SHOP HUY2K5 © 2026</span>
            <span>Liên hệ: 0347132311</span>
        </div> 
    </body>
</html>