<!DOCTYPE html>
<html lang="vi">
    <head>
        <title>webaccgame</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/dangnhap.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <script src="{{url_for('static',filename='js/dangnhap.js')}}" defer></script>
    </head>
    <body>
        <div class="bangmenu">
            <span class="tenshop">Shop Huy2k5</span>
            <span class="chumenu">menu</span>
            <hr>
            <span class="lichsumuaacc">Lịch sử mua acc</span>
            <hr>
            <span class="naptien">Nạp tiền</span>
            <hr>
            <span class="giohang">Giỏ hàng của bạn</span>
        </div>
        <div class="ngoaibangmenu"></div>
        <div class="tieude">
            <div class="tenshop-iconlist">
                <span class="tenshop">SHOP HUY2K5</span>
                <i class="fa-solid fa-list"></i>
            </div>
            <div class="conlaitieude">
                <i class="fa-solid fa-user"></i>
                <div class="ten-sodu">
                    <span class="ten">ten</span>
                    <span class="sodu">2.400.000đ</span>
                </div>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </div>
        </div>
        <div class="iconcanhan">
            <span class="dangnhap">Đăng nhập</span>
            <hr>
            <span class="taotaikhoan">Tạo tài khoản</span>
            <hr>
            <span class="doimatkhau">Đổi mật khẩu</span>
        </div>
        <!--Xong phần tiêu đề ------------------------------------------------------------------------------->
        <div class="khoichinh">
            <span class="chu">Đăng nhập</span>
            <div class="nhaptk">
                <span>Tài khoản</span>
                <input type="text" placeholder="Nhập tên tài khoản">
            </div>
            <div class="nhapmk">
                <span>Mật khẩu</span>
                <input type="password" placeholder="Nhập mật khẩu">
            </div>
            <span class="quenmatkhau">Bạn quên mật khẩu?</span>
            <span class="nut">Đăng nhập</span>
            <span class="dangky">Bạn chưa có tài khoản? Tạo tài khoản</span>
        </div>
        <div class="chantrang">
            <span>SHOP HUY2K5 © 2026</span>
            <span>Liên hệ: 0347132311</span>
        </div>
    </body>
</html>