<!DOCTYPE html>
<html lang="vi">
    <head>
        <title>webaccgame</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/doanhthu.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
        <script src="{{url_for('static',filename='js/doanhthu.js')}}" defer></script>
        <script src="{{url_for('static',filename='js/doanhthuchon.js')}}" defer></script>
    </head>
    <body>
        <div class="ngoaibangmenu"></div>
        <div class="tieude">
            <span>Xin chào, Huy</span>
            <i class="fa-regular fa-hand-spock"></i>
        </div>
        <div class="bangmenu">
            <span>ADMIN</span>
            <div class="danhsachchucnang">
                <div class="doanhthu">
                    <i class="fa-solid fa-chart-line"></i>
                    <span>Doanh thu</span>
                </div>
                <div class="quanlynguoimua">
                    <i class="fa-solid fa-users"></i>
                    <span>Quản lý người mua</span>
                </div>
                <div class="quanlyacc">
                    <i class="fa-solid fa-gamepad"></i>
                    <span>Quản lý acc</span>
                </div>
                <div class="giaodich">
                    <i class="fa-solid fa-comments-dollar"></i>
                    <span>Giao dịch</span>
                </div>
            </div>
        </div>
        <!--Xong phần bảng menu + tiêu đề--------------------->
        <div class="noibat">
            <div class="banthang">
                <i class="fa-brands fa-sellsy"></i>
                <div class="banthang1">
                    <span class="tenmuc">Đã bán(Tháng này)</span>
                    <span class="giatri">{{ ban_thang +60}}</span>
                </div>
            </div>
            <div class="banngay">
                <i class="fa-brands fa-sellcast"></i>
                <div class="banngay1">
                    <span class="tenmuc">Đã bán(Hôm nay)</span>
                    <span class="giatri">{{ ban_homnay }}</span>
                </div>
            </div>
            <div class="napthang">
                <i class="fa-solid fa-money-bill-trend-up"></i>
                <div class="napthang1">
                    <span class="tenmuc">Tổng nạp(Tháng này)</span>
                    <span class="giatri">+{{ "{:,.0f}".format(nap_thang).replace(",",".") }}đ</span>
                </div>
            </div>
            <div class="napngay">
                <i class="fa-solid fa-comment-dollar"></i>
                <div class="napngay1">
                    <span class="tenmuc">Tổng nạp(Hôm nay)</span>
                    <span class="giatri">+{{ "{:,.0f}".format(nap_homnay).replace(",",".") }}đ</span>
                </div>
            </div>
        </div>
        <!----------------------------------------------------------------------------------->
        <div class="theotuan">
            <div class="dabantheotuan">
                <span class="tong"></span>
                <div class="phandau">
                    <span class="chu1">Thống kê số acc đã bán trong tuần</span>
                    <div class="chon">
                        <span class="chu2">Tuần này</span>
                        <i class="fa-solid fa-angle-down"></i>
                        <div class="cactuan">
                            <div class="tuan0">Tuần này</div>
                            <div class="tuan-1">Tuần trước</div>
                            <div class="tuan-2">2 tuần trước</div>
                            <div class="tuan-3">3 tuần trước</div>
                        </div>
                    </div>
                </div>
                <div class="cacmoc">
                    <div class="moc200">
                        <span>20</span>
                        <hr>
                    </div>
                    <div class="moc150">
                        <span>15</span>
                        <hr>
                    </div>
                    <div class="moc100">
                        <span>10</span>
                        <hr>
                    </div>
                    <div class="moc50">
                        <span>5</span>
                        <hr>
                    </div>
                    <div class="moc0">
                        <span>0</span>
                        <hr>
                    </div>
                </div> 
                <div class="caccot">
                    <div>
                        <div></div>
                        <span class="giatri">10000</span>
                        <span class="thoidiem">T2</span>
                    </div>
                    <div>
                        <div></div>
                        <span class="giatri"></span>
                        <span class="thoidiem">T3</span>
                    </div>
                    <div>
                        <div></div>
                        <span class="giatri"></span>
                        <span class="thoidiem">T4</span>
                    </div>
                    <div>
                        <div></div>
                        <span class="giatri"></span>
                        <span class="thoidiem">T5</span>
                    </div>
                    <div>
                        <div></div>
                        <span class="giatri"></span>
                        <span class="thoidiem">T6</span>
                    </div>
                    <div>
                        <div></div>
                        <span class="giatri"></span>
                        <span class="thoidiem">T7</span>
                    </div>
                    <div>
                        <div></div>
                        <span class="giatri"></span>
                        <span class="thoidiem">CN</span>
                    </div>
                </div>
            </div>
            <div class="doanhthutheotuan">
                <span class="tong"></span>
                <div class="phandau">
                    <span class="chu1">Doanh thu trong tuần</span>
                    <div class="chon">
                        <span class="chu2">Tuần này</span>
                        <i class="fa-solid fa-angle-down"></i>
                        <div class="cactuan">
                            <div class="tuan0">Tuần này</div>
                            <div class="tuan-1">Tuần trước</div>
                            <div class="tuan-2">2 tuần trước</div>
                            <div class="tuan-3">3 tuần trước</div>
                        </div>
                    </div>
                </div>
                <div class="cacmoc">
                    <div class="moc200">
                        <span>40m</span>
                        <hr>
                    </div>
                    <div class="moc150">
                        <span>30m</span>
                        <hr>
                    </div>
                    <div class="moc100">
                        <span>20m</span>
                        <hr>
                    </div>
                    <div class="moc50">
                        <span>10m</span>
                        <hr>
                    </div>
                    <div class="moc0">
                        <span>0</span>
                        <hr>
                    </div>
                </div> 
                <div class="caccot">
                    <div>
                        <div></div>
                        <span class="giatri"></span>
                        <span class="thoidiem">T2</span>
                    </div>
                    <div>
                        <div></div>
                        <span class="giatri"></span>
                        <span class="thoidiem">T3</span>
                    </div>
                    <div>
                        <div></div>
                        <span class="giatri"></span>
                        <span class="thoidiem">T4</span>
                    </div>
                    <div>
                        <div></div>
                        <span class="giatri"></span>
                        <span class="thoidiem">T5</span>
                    </div>
                    <div>
                        <div></div>
                        <span class="giatri"></span>
                        <span class="thoidiem">T6</span>
                    </div>
                    <div>
                        <div></div>
                        <span class="giatri"></span>
                        <span class="thoidiem">T7</span>
                    </div>
                    <div>
                        <div></div>
                        <span class="giatri"></span>
                        <span class="thoidiem">CN</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="doanhthutheonam">
            <span class="tong"></span>
            <div class="phandau">
                <span class="chu1">Doanh thu trong năm</span>
                <div class="chon">
                    <span class="chu2">Năm 2026</span>
                    <i class="fa-solid fa-angle-down"></i>
                    <div class="cactuan">
                        <div class="tuan0">Năm 2026</div>
                        <div class="tuan-1">Năm 2025</div>
                        <div class="tuan-2">Năm 2024</div>
                        <div class="tuan-3">Năm 2023</div>
                    </div>
                </div>
            </div>
            <div class="cacmoc">
                <div class="moc200">
                    <span>200m</span>
                    <hr>
                </div>
                <div class="moc150">
                    <span>150m</span>
                    <hr>
                </div>
                <div class="moc100">
                    <span>100m</span>
                    <hr>
                </div>
                <div class="moc50">
                    <span>50m</span>
                    <hr>
                </div>
                <div class="moc0">
                    <span>0</span>
                    <hr>
                </div>
            </div> 
            <div class="caccot">
                <div>
                    <div></div>
                    <span class="giatri"></span>
                    <span class="thoidiem">T1</span>
                </div>
                <div>
                    <div></div>
                    <span class="giatri"></span>
                    <span class="thoidiem">T2</span>
                </div>
                <div>
                    <div></div>
                    <span class="giatri"></span>
                    <span class="thoidiem">T3</span>
                </div>
                <div>
                    <div></div>
                    <span class="giatri"></span>
                    <span class="thoidiem">T4</span>
                </div>
                <div>
                    <div></div>
                    <span class="giatri"></span>
                    <span class="thoidiem">T5</span>
                </div>
                <div>
                    <div></div>
                    <span class="giatri"></span>
                    <span class="thoidiem">T6</span>
                </div>
                <div>
                    <div></div>
                    <span class="giatri"></span>
                    <span class="thoidiem">T7</span>
                </div>
                <div>
                    <div></div>
                    <span class="giatri"></span>
                    <span class="thoidiem">T8</span>
                </div>
                <div>
                    <div></div>
                    <span class="giatri"></span>
                    <span class="thoidiem">T9</span>
                </div>
                <div>
                    <div></div>
                    <span class="giatri"></span>
                    <span class="thoidiem">T10</span>
                </div>
                <div>
                    <div></div>
                    <span class="giatri"></span>
                    <span class="thoidiem">T11</span>
                </div>
                <div>
                    <div></div>
                    <span class="giatri"></span>
                    <span class="thoidiem">T12</span>
                </div>
            </div>
        </div>
    </body>
</html>