<!DOCTYPE html>
<html lang="vi">
    <head>
        <title>webaccgame</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/doanhthu.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
        <script src="{{url_for('static',filename='js/doanhthu.js')}}" defer></script>
    </head>
    <body>
        <div class="tieude">
            <span>Xin chào, Huy</span>
            <i class="fa-regular fa-hand-spock"></i>
        </div>
        <div class="bangmenu">
            <span>ADMIN</span>
            <div class="danhsachchucnang">
                <div>Doanh thu</div>
                <div>Quản lý người mua</div>
                <div>Quản lý acc</div>
            </div>
        </div>
        <div class="noibat">
            <div>
                <span>Đã bán(Tháng này)</span>
                <span class="giatri">{{ ban_thang }}</span>
            </div>
            <div>
                <span>Đã bán(Hôm nay)</span>
                <span class="giatri">{{ ban_homnay }}</span>
            </div>
            <div>
                <span>Tổng nạp(Tháng này)</span>
                <span class="giatri">+{{ "{:,.0f}".format(nap_thang) }}đ</span>
            </div>
            <div>
                <span>Tổng nạp(Hôm nay)</span>
                <span class="giatri">+{{ "{:,.0f}".format(nap_homnay) }}đ</span>
            </div>
        </div>
        <!----------------------------------------------------------------------------------->
        <div class="theotuan">
            <div class="dabantheotuan">
                <div class="phandau">
                    <span>Đã bán</span>
                    <span>Tuần này</span>
                </div>
                <div class="cacmoc">
                    <div class="moc200">
                        <span>200</span>
                        <hr>
                    </div>
                    <div class="moc150">
                        <span>150</span>
                        <hr>
                    </div>
                    <div class="moc100">
                        <span>100</span>
                        <hr>
                    </div>
                    <div class="moc50">
                        <span>50</span>
                        <hr>
                    </div>
                    <div class="moc0">
                        <span>0</span>
                        <hr>
                    </div>
                </div> 
                <div class="caccot">
                    <div>
                        <div></div>
                        <span>T2</span>
                    </div>
                    <div>
                        <div></div>
                        <span>T3</span>
                    </div>
                    <div>
                        <div></div>
                        <span>T4</span>
                    </div>
                    <div>
                        <div></div>
                        <span>T5</span>
                    </div>
                    <div>
                        <div></div>
                        <span>T6</span>
                    </div>
                    <div>
                        <div></div>
                        <span>T7</span>
                    </div>
                    <div>
                        <div></div>
                        <span>CN</span>
                    </div>
                </div>
            </div>
            <div class="doanhthutheotuan">
                <div class="phandau">
                    <span>Tổng đã nạp</span>
                    <span>Tuần này</span>
                </div>
                <div class="cacmoc">
                    <div class="moc200">
                        <span>200</span>
                        <hr>
                    </div>
                    <div class="moc150">
                        <span>150</span>
                        <hr>
                    </div>
                    <div class="moc100">
                        <span>100</span>
                        <hr>
                    </div>
                    <div class="moc50">
                        <span>50</span>
                        <hr>
                    </div>
                    <div class="moc0">
                        <span>0</span>
                        <hr>
                    </div>
                </div> 
                <div class="caccot">
                    <div>
                        <div></div>
                        <span>T2</span>
                    </div>
                    <div>
                        <div></div>
                        <span>T3</span>
                    </div>
                    <div>
                        <div></div>
                        <span>T4</span>
                    </div>
                    <div>
                        <div></div>
                        <span>T5</span>
                    </div>
                    <div>
                        <div></div>
                        <span>T6</span>
                    </div>
                    <div>
                        <div></div>
                        <span>T7</span>
                    </div>
                    <div>
                        <div></div>
                        <span>CN</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="doanhthutheonam">
            <div class="phandau">
                <span>Tổng đã nạp</span>
                <span>Năm nay</span>
            </div>
            <div class="cacmoc">
                <div class="moc200">
                    <span>200</span>
                    <hr>
                </div>
                <div class="moc150">
                    <span>150</span>
                    <hr>
                </div>
                <div class="moc100">
                    <span>100</span>
                    <hr>
                </div>
                <div class="moc50">
                    <span>50</span>
                    <hr>
                </div>
                <div class="moc0">
                    <span>0</span>
                    <hr>
                </div>
            </div> 
            <div class="caccot">
                <div>
                    <div></div>
                    <span>T1</span>
                </div>
                <div>
                    <div></div>
                    <span>T2</span>
                </div>
                <div>
                    <div></div>
                    <span>T3</span>
                </div>
                <div>
                    <div></div>
                    <span>T4</span>
                </div>
                <div>
                    <div></div>
                    <span>T5</span>
                </div>
                <div>
                    <div></div>
                    <span>T6</span>
                </div>
                <div>
                    <div></div>
                    <span>T7</span>
                </div>
                <div>
                    <div></div>
                    <span>T8</span>
                </div>
                <div>
                    <div></div>
                    <span>T9</span>
                </div>
                <div>
                    <div></div>
                    <span>T10</span>
                </div>
                <div>
                    <div></div>
                    <span>T11</span>
                </div>
                <div>
                    <div></div>
                    <span>T12</span>
                </div>
            </div>
        </div>
    </body>
</html>