<!DOCTYPE html>
<html lang="vi">
    <head>
        <title>webaccgame</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/lichsumuaacc.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <script src="{{url_for('static',filename='js/dangxuat.js')}}" defer></script>
        <script src="{{url_for('static',filename='js/lichsumuaacc.js')}}" defer></script>
    </head>
    <body>
        <div class="bangmenu">
            <span class="tenshop">Shop Huy2k5</span>
            <span class="chumenu">menu</span>
            <div class="chucnang">
                <div class="trangchu">
                    <i class="fa-regular fa-house"></i>
                    <span class="trangchu">Trang chủ</span>
                </div>
                <div class="lichsumuaacc">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <span class="lichsumua">Lịch sử mua acc</span>
                </div>
                <div class="naptien">
                    <i class="fa-solid fa-wallet"></i>
                    <span class="naptien">Nạp tiền</span>
                </div>
                <div class="giohang">
                    <i class="fa-solid fa-shopping-cart"></i>
                    <span class="giohang">Giỏ hàng của bạn</span>
                </div>
            </div>
        </div>
        <div class="ngoaibangmenu"></div>
        <div class="tieude">
            <div class="tenshop-iconlist">
                <span class="tenshop">SHOP HUY2K5</span>
                <i class="fa-solid fa-list"></i>
            </div>
            <div class="conlaitieude">
                <i class="fa-solid fa-user"></i>
                <div class="ten-sodu">
                    <span class="ten">{{session.get("ten","ten")}}</span>
                    <span class="sodu">{{"{:,.0f}".format(session.get("so_du",0)).replace(",", ".")}}đ</span>
                </div>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </div>
        </div>
        <div class="iconcanhan">
            <div class="dangnhap">
                <i class="fa-solid fa-person-arrow-down-to-line"></i>
                <span class="dangnhap">Đăng nhập</span>
            </div>
            <div class="taotaikhoan">
                <i class="fa-solid fa-circle-plus"></i>
                <span class="taotaikhoan">Tạo tài khoản</span>
            </div>
            <div class="doimatkhau">
                <i class="fa-solid fa-arrows-turn-to-dots"></i>
                <span class="doimatkhau">Đổi mật khẩu</span>
            </div>
        </div>
        <!--Xong phần tiêu đề ------------------------------------------------------------------------------->
        <div class="divto2">
            <div class="bentrai">
                <div class="soluong">
                    <i class="fa-solid fa-user-pen"></i>
                    <div class="soluong1">
                        <span class="tenmuc">Acc đã mua</span>
                        <span class="giatri">{{soluong}}</span>
                    </div>
                </div>
                <div class="accgiacaonhat">
                    <i class="fa-solid fa-ranking-star"></i>
                    <div class="accgiacaonhat1">
                        <span class="tenmuc">Giá cao nhất</span>
                        <span class="giatri">{{"{:,.0f}".format(gia_max).replace(",", ".")}}đ</span>
                    </div>
                </div>
                <div class="sotiendatieu">
                    <i class="fa-solid fa-money-bill"></i>
                    <div class="sotiendatieu1">
                        <span class="tenmuc">Số tiền đã tiêu</span>
                        <span class="giatri">100.000.000đ</span>
                    </div>
                </div>
            </div>
            <div class="thanhtimkiem">
                <input type="text" placeholder="Tìm kiếm theo mã">
            </div>
        </div>
        <!--Xong phần div lớn 2 ------------------------------------------------------------------------------->
        <div class="danhsachacctronggio">
            {% for acc in dsacc %}
            <div class="acctronggio" data-maacc = "{{acc.ma_acc}}">
                <div class="bentrai">
                    <span>Mã acc: {{ "%03d"|format(acc.ma_acc) }}</span>
                    <span>
                        <span>Giá: </span>
                        <span class="gia">
                            {{"{:,.0f}".format(acc.gia)}}đ
                        </span>
                    </span>
                    <span>
                        Thời điểm mua:
                        {{acc.thoi_diem.strftime("%d/%m/%Y")}}
                    </span>
                </div>
                <div class="benphai">Xem</div>
                <div class = "popuptkmk">
                    <span class="tk">Tài khoản: {{acc.tai_khoan}}</span>
                    <span class="mk">Mật khẩu: {{acc.mat_khau}}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="trang">
            <i class="fa-solid fa-angle-left"></i>
            <div>Trang 0/0</div>
            <i class="fa-solid fa-angle-right"></i>
        </div>
        <!--Xong phần trang ----------------------------------------------------------------------->
        <div class="chantrang">
            <span>SHOP HUY2K5 © 2026</span>
            <span>Liên hệ: 0347132311</span>
        </div>
    </body>
</html>