<!DOCTYPE html>
<html lang="vi">
    <head>
        <title>webaccgame</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/quanlyacc.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <script src="{{url_for('static',filename='js/quanlyacc.js')}}" defer></script>
    </head>
    <body>
        <div class="ngoaibangmenu"></div>
        <div class="tieude">
            <span>Xin chào, Huy</span>
            <i class="fa-regular fa-hand-spock"></i>
        </div>
        <div class="bangmenu">
            <span>ADMIN</span>
            <div class="danhsachchucnang">
                <div class="doanhthu">
                    <i class="fa-solid fa-chart-line"></i>
                    <span>Doanh thu</span>
                </div>
                <div class="quanlynguoimua">
                    <i class="fa-solid fa-users"></i>
                    <span>Quản lý người mua</span>
                </div>
                <div class="quanlyacc">
                    <i class="fa-solid fa-gamepad"></i>
                    <span>Quản lý acc</span>
                </div>
            </div>
        </div>
        <!--Xong phần bảng menu + tiêu đề--------------------->
        <div class="noibat">
            <div class="soacctuyetpham">
                <i class="fa-solid fa-user-pen"></i>
                <div class="soacctuyetpham1">
                    <span class="tenmuc">Số acc có tuyệt phẩm</span>
                    <span class="giatri">{{ tuyetpham }}</span>
                </div>
            </div>
            <div class="xemnhieunhat">
                <i class="fa-solid fa-face-grin-stars"></i>
                <div class="xemnhieunhat1">
                    <span class="tenmuc">Được xem nhiều nhất</span>
                    <span class="giatri">#{{ "%03d"|format(xemnhieu.ma_acc) }}: {{ xemnhieu.so_luot_xem }}</span>
                </div>
            </div>
            <div class="giacaonhat">
                <i class="fa-regular fa-gem"></i>
                <div class="giacaonhat1">
                    <span class="tenmuc">Giá cao nhất</span>
                    <span class="giatri">#{{ "%03d"|format(giacao.ma_acc) }}: {{ "{:,.0f}".format(giacao.gia).replace(',', '.') }}đ</span>
                </div>
            </div>
            <div class="soacctren10tr">
                <i class="fa-solid fa-bolt"></i>
                <div class="soacctren10tr1">
                    <span class="tenmuc">Số acc trên 10tr</span>
                    <span class="giatri">{{ tren10tr }}</span>
                </div>
            </div>
        </div>
        <!--Xong phần nổi bật----------------------------------------------------------------------------------->
        <div class="linhtinh">
            <div class="trai">
                <div class="nutchon">
                    <div class="sapxep">
                        <i class="fa-solid fa-sort"></i>
                        Sắp xếp
                        <div class="theo">
                            <span class="moidang">Mới đăng</span>
                            <span class="giatang">Giá tăng</span>
                            <span class="giagiam">Giá giảm</span>
                        </div>
                    </div>
                    <div class="themacc">
                        <i class="fa-solid fa-plus"></i>
                        Thêm acc
                    </div>
                </div>
                <div class="dachon">Đã chọn 0 hàng</div>
            </div>
            <input type="text" placeholder="Tìm kiếm theo tên người mua">
        </div>
        <!--Xong phần linh tinh---------------------------------------------------------------------------------->
        <div class="bang">
            <div class="hangtieude">
                <span class="cot1">Mã số</span>
                <div class="cactickchon">
                    <span class="cot2">Siêu xe</span>
                    <span class="cot3">Bape</span>
                    <span class="cot4">Mũ đinh</span>
                    <span class="cot5">Găng băng</span>
                </div>
                <span class="cot6">Giá</span>
            </div>
            <div class="dsacc">
                {% for acc in dsacc %}
                <div class="hang" data-gia = "{{acc.gia}}" data-ma="{{acc.ma_acc}}" data-trangthai="{{acc.trang_thai}}">
                    <input class="nuttichhang" type="checkbox">
                    <span class="cot1">#{{ "%03d"|format(acc.ma_acc) }}</span>
                    <div class="cactickchon">
                        <input class="cot2" type="checkbox" {% if acc.sieu_xe %}checked{% endif %} disabled>
                        <input class="cot3" type="checkbox" {% if acc.bape %}checked{% endif %} disabled>
                        <input class="cot4" type="checkbox" {% if acc.mu_dinh %}checked{% endif %} disabled>
                        <input class="cot5" type="checkbox" {% if acc.gang_tay %}checked{% endif %} disabled>
                    </div>
                    <span class="cot6">
                        {{ "{:,.0f}".format(acc.gia).replace(',','.') }}đ
                    </span>
                    <div class="tuychon">
                        <i class="fa-solid fa-delete-left" data-ma="{{ acc.ma_acc }}"></i>
                        <i class="fa-solid fa-pen" data-ma="{{ acc.ma_acc }}" data-mota="{{ acc.mo_ta }}" data-gia="{{ acc.gia }}" data-taikhoan="{{acc.tai_khoan}}" data-matkhau="{{acc.mat_khau}}" data-anh="{{ acc.anh }}"></i>
                        <button class="trangthai">{{acc.trang_thai}}</button>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="suaacc">
                <div class="suamota">
                    <span>Mô tả</span>
                    <input type="text" id="input-mota" placeholder="...">
                </div>
                <div class="suagia">
                    <span>Giá</span>
                    <input type="text" id="input-gia" placeholder="...">
                </div>
                <div class="suatk">
                    <span>Tài khoản</span>
                    <input type="text" id="input-tk" placeholder="...">
                </div>
                <div class="suamk">
                    <span>Mật khẩu</span>
                    <input type="text" id="input-mk" placeholder="...">
                </div>
                <div class="anh">
                    <div><span>Xem ảnh acc</span></div>
                    <input type="file" id="input-anh" multiple hidden>
                    <label for="input-anh" class="custom-btn"><span>Thêm ảnh acc</span></label>
                </div>
                <div class="nutsua">Lưu</div>
            </div>
            <div class="cacanhtheoacc">
            </div>
            <div class="cuoibang">
                <div class="trangtruoc">Trước</div>
                <span>Trang 0/0</span>
                <div class="trangsau">Tiếp</div>
            </div>
        </div>
    </body>
</html>