<!DOCTYPE html>
<html lang="vi">
    <head>
        <title>webaccgame</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/trangchu.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <script src="{{url_for('static',filename='js/trangchu.js')}}" defer></script>
        <script src="{{url_for('static',filename='js/dangxuat.js')}}" defer></script>
        <script src="{{url_for('static',filename='js/loctheogia.js')}}" defer></script>
    </head>
    <body>
        <div class="bangmenu">
            <span class="tenshop">Shop Huy2k5</span>
            <span class="chumenu">menu</span>
            <hr>
            <span class="lichsumuaacc">Lịch sử mua acc</span>
            <hr>
            <span class="naptien">Nạp tiền</span>
            <hr>
            <span class="giohang">Giỏ hàng của bạn</span>
        </div>
        <div class="ngoaibangmenu"></div>
        <div class="tieude">
            <div class="tenshop-iconlist">
                <span class="tenshop">SHOP HUY2K5</span>
                <i class="fa-solid fa-list"></i>
            </div>
            <div class="conlaitieude">
                <i class="fa-solid fa-user"></i>
                <div class="ten-sodu">
                    <span class="ten">{{session.get("ten","ten")}}</span>
                    <span class="sodu">{{"{:,.0f}".format(session.get("so_du",0))}}đ</span>
                </div>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </div>
        </div>
        <div class="iconcanhan">
            <span class="dangnhap">Đăng nhập</span>
            <hr>
            <span class="taotaikhoan">Tạo tài khoản</span>
            <hr>
            <span class="doimatkhau">Đổi mật khẩu</span>
        </div>
        <!--Xong phần tiêu đề ------------------------------------------------------------------------------->
        <div class = "anhbia-topnap">
            <img class = "anhbia" src="{{url_for('static',filename='images/anh-pubg-3d-cuc-ngau-16-14-51-15.jpg')}}" alt="Ảnh bìa">
            <div class="topnap">
                <div class="topnapthang">Top nạp tháng {{thang}}</div>
                {% for user in topnap %}
                <div class="topnap1">
                    <span class="topnap-ten">
                        {{loop.index}}.{{user.ten}}
                    </span>
                    <span class="topnap-sotien">
                        {{ "{:,.0f}".format(user.tong_nap) }}đ
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
        <!--Xong phần ảnh bìa và top nạp ----------------------------------------------------------------------->
        <div class="timtheonhucau">
            <img class="anhtimtheonhucau" src="{{url_for('static',filename='images/quanbape.png')}}">
            <img class="anhtimtheonhucau" src="{{url_for('static',filename='images/sieuxe.png')}}">
            <img class="anhtimtheonhucau" src="{{url_for('static',filename='images/mudinh.png')}}">
            <img class="anhtimtheonhucau" src="{{url_for('static',filename='images/gangbang.png')}}">
        </div>
        <!--Xong phần tìm acc theo nhu cầu ----------------------------------------------------------------------->
        <div class="thanhtimkiem">
            <input type="text" placeholder="Tìm kiếm theo mã">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <!--Xong phần thanh tìm kiếm -------------------------------------------------------------------------->
        <div class="linhtinh">
            <span>Danh sách acc bán</span>
            <span>Số lượng: 36</span>
            <span class="sapxep">Sắp xếp</span>
        </div>
        <hr>
        <div class="timtheogia">
            <div>Tất cả</div>
            <div>Dưới 5m</div>
            <div>5m-10m</div>
            <div>10m-20m</div>
            <div>20m-30m</div>
            <div>Trên 30m</div>
        </div>
        <!--Xong phần tìm acc theo giá ----------------------------------------------------------------------->
        <div class="danhsachacc">
        {% for acc in dsacc %}
        <div class="acc" data-gia="{{acc.gia}}" data-gangtay="{{acc.gang_tay}}" data-mudinh="{{acc.mu_dinh}}" data-sieuxe="{{acc.sieu_xe}}" data-bape="{{acc.bape}}">
            <img src="{{ acc.duong_dan }}">
            <div class="thongtinacc">
                <div class="dong1">
                    <span>Mã: {{ "%03d"|format(acc.ma_acc) }}</span>
                    <div class="saochep">
                        <i class="fa-regular fa-copy"></i>
                        <span>Sao chép mã</span>
                    </div>
                </div>
                <div class="dong2">
                    <span class="thoidiemdang">
                        {{acc.ngay_dang.strftime('%d/%m/%Y')}}
                    </span>
                    <div class="luotxem">
                        <i class="fa-solid fa-eye"></i>
                        <span>{{acc.so_luot_xem}}</span>
                    </div>
                </div>
                <hr>
                <div class="dong3">
                    <div class="giaacc">
                        <span>Giá:</span>
                        <span class="so">
                            {{"{:,.0f}".format(acc.gia)}}đ
                        </span>
                    </div>
                    <div class="chitiet">Chi tiết</div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
        <!--Xong danh sách acc--------------------------------------------------------------->
        <div class="trang">
            <i class="fa-solid fa-angle-left"></i>
            <div>Trang 0/0</div>
            <i class="fa-solid fa-angle-right"></i>
        </div>
        <!--Xong phần trang ----------------------------------------------------------------------->
        <div class="chantrang">
            <span>SHOP HUY2K5 © 2026</span>
            <span>Liên hệ: 0347132311</span>
        </div>
    </body>
</html>